.card {
  &.nm {
    flex-direction: row;
    height: 100% !important;
    border: 1px solid #0000000a !important;
    box-shadow: 5px 5px 10px 0px #00000005 !important;
    &.card-primary {
      background: rgb(115 101 255 / 8%);
      border: 1px solid #dddddd3b;
      height: 100%;
    }
    &.active {
      background-color: #b9b9b9;
    }
    img {
      border-radius: 10px;
      &.object-cover {
        object-fit: cover;
        border-radius: 10px;
      }
      &.object-contain {
        object-fit: contain;
        border-radius: 10px !important;
        height: 100%;
      }
    }
    .imgrounded {
      img {
        border-radius: 10px;
      }
    }
    svg {
      font-size: 60px;
      padding-bottom: 10px;
      color: #7365ff;
    }
  }
}

.accordion {
  .card {
    padding: 8px !important;
  }
}

.components {
  .item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    .items {
    }
  }
}

.btn {
  svg {
    font-size: inherit !important;
    color: inherit !important;
    padding-bottom: 0;
  }
  &.rtIcon {
    display: flex;
    align-items: center;
    svg {
      margin-left: 10px;
      padding-bottom: 0px;
      font-size: 14px;
    }
  }
  &.ltIcon {
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
      padding-bottom: 0px;
      font-size: 14px;
    }
  }
}

.heading {
  color: #ffffff !important;
  font-size: 12px;
  background: #333;
  padding: 5px 10px;
  border-radius: 5px;
  width: max-content;
}
