.card {
  &.card-primary {
    background: rgb(255 205 101 / 7%);
    border: 1px solid #dddddd3b;
    height: 100%;
  }
  &.active {
    background-color: #ffcd65;
  }
  .imgbox {
    img {
      object-fit: cover;
      height: 100%;
      border-radius: 10px;
    }
  }
  .imgrounded {
    img {
      border-radius: 10px;
    }
  }
}

.components {
  .item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    .items {
    }
  }
}
